@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.header,
.footer {
    padding: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header a,
.footer a {
    background: var(--black);
    color: var(--white);
    padding: 0.9375rem 2.1875rem;
    border-radius: 6.25rem;
    transition: 0.3s;
}

.header a:hover,
.footer a:hover {
    background: var(--red);
}

.main .intro {
    padding: 3% 10%;
}

.main .intro h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 1.875rem;
}

.main .intro p {
    text-align: center;
    font-size: 1.125rem;
    color: var(--grey);
    margin-bottom: 4.375rem;
}

.grid {
    display: grid;
    grid-template-areas:
    'graphic ui-ux apps photography photography'
    'graphic illustrations illustrations motion motion';
    gap: 1.875rem;
}

.grid div {
    display: flex;
    align-items: flex-end;
    color: var(--white);
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.graphic {
    grid-area: graphic;
    background: var(--light-purple) url(../images/pattern-graphic-design.svg) 85% 15% no-repeat;
    width: 100%;
    height: 22.75rem;
}

.ui-ux {
    grid-area: ui-ux;
    background: var(--orange) url(../images/pattern-ui-ux.svg) 85% 20% no-repeat;
}

.apps {
    grid-area: apps;
    background: var(--pink) url(../images/pattern-apps.svg) 85% 20% no-repeat;
}

.photography {
    grid-area: photography;
    background: var(--cyan) url(../images/pattern-photography.svg) 85% 20% no-repeat;
}

.illustrations {
    grid-area: illustrations;
    background: var(--red) url(../images/pattern-illustrations.svg) 85% 20% no-repeat;
}

.motion {
    grid-area: motion;
    background: var(--purple) url(../images/pattern-motion-graphics.svg) 85% 20% no-repeat;
}

.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    gap: 6.25rem;
}

.presentation img {
    width: 40%;
}

.presentation h2 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.presentation p {
    color: var(--grey);
    margin-bottom: 3.125rem;
}

.presentation a,
.cta a {
    padding: 0.9375rem 2.5rem;
    background: var(--red);
    border-radius: 6.25rem;
    color: var(--white);
    font-weight: 500;
    transition: 0.3s;
}

.presentation a:hover {
    background: var(--black);
}

.slides h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3.125rem;
}

.slider-btn {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
}

.slider-btn button {
    background: var(--black);
    padding: 1.25rem;
    border-radius: 50%;
    transition: 0.3s;
}

.slider-btn button:hover {
    cursor: pointer;
    background: var(--light-purple);
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 0.9375rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.carousel img {
    width: 33.75rem;
    height: 22.5rem;
    transition: transform 0.75s;
}

.cta {
    padding: 5%;
    margin: 5% 10%;
    background: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
}

.cta h1 {
    font-size: 2rem;
    margin-bottom: 1.875rem;
}

.cta a:hover {
    background: var(--light-purple);
}