:root {
    --white: #ffffff;
    --black: #000000;
    --red: #eB7565;
    --light-purple: #755cde;
    --orange: #f6a560;
    --cyan: #61c4b7;
    --purple: #552049;
    --grey: #7A746e;
    --pink: #e27bb1;
}